In [1]:
import pandas as pd

In [2]:
dfTotal = pd.read_csv('last12months/12months/d_test_filled.csv')

/Users/leonardozecchin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (22,24,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
df1 = pd.read_csv('last12months/12months/204300479.csv')

/Users/leonardozecchin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (21,23,25,27,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [35]:
dfTotal['Anomalia #1'].unique()

array([0.])

In [19]:
dfTotal.tail()

,Unnamed: 0,dt,TIMESTAMP,Abilitazione al conteggio energia,Anomalia #1,Caldaia,Caldaia giornaliero,Connection Status,Energia parziale in riscaldamento caldaia,Energia parziale in sanitario caldaia,...,Stato attivazione BOOST sanitario,Taratura sensore,Temperatura di mandata,Temperatura esterna,Temperatura esterna mediata,Temperatura fumi,Temperatura sanitario,Temperatura scambiatore,Velocita' ventilatore,WiFi signal
1084084,1084084,2023-07-12 08:02:00,1689148915763,1.0,0.0,3368569.0,417542.0,1.0,121.0,231.0,...,0.0,-2.3,34.7,0.0,0.0,0.0,31.5,0.0,0.0,-49.0
1084085,1084085,2023-07-12 08:02:30,1689148945527,1.0,0.0,3368569.0,417542.0,1.0,121.0,231.0,...,0.0,-2.3,34.7,0.0,0.0,0.0,31.5,0.0,0.0,-49.0
1084086,1084086,2023-07-12 08:03:00,1689148976831,1.0,0.0,3368569.0,417542.0,1.0,121.0,231.0,...,0.0,-2.3,34.6,0.0,0.0,0.0,31.4,0.0,0.0,-49.0
1084087,1084087,2023-07-12 08:03:30,1689149006629,1.0,0.0,3368569.0,417542.0,1.0,121.0,231.0,...,0.0,-2.3,34.6,0.0,0.0,0.0,31.4,0.0,0.0,-49.0
1084088,1084088,2023-07-12 08:04:00,1689149036525,1.0,0.0,3368569.0,417542.0,1.0,121.0,231.0,...,0.0,-2.3,34.5,0.0,0.0,0.0,31.4,0.0,0.0,-49.0

In [20]:
start_date1 = '2022-06-01'
end_date1 = '2022-11-31'
dfHalfYear1 = dfTotal[(dfTotal['dt'] >= start_date1) & (dfTotal['dt'] <= end_date1)]

start_date2 = '2022-12-01'
end_date2 =  '2023-07-31'
dfHalfYear2 = dfTotal[(dfTotal['dt'] >= start_date2) & (dfTotal['dt'] <= end_date2)]

In [23]:
print("Shape of the First half of the year: ",dfHalfYear1.shape)
print("Shape of the Second half of the year",dfHalfYear2.shape)

Shape of the First half of the year:  (440880, 57)
Shape of the Second half of the year (643209, 57)

In [26]:
nm_anomalies = dfHalfYear1[dfHalfYear1['Anomalia #1'] == 0]

In [29]:
nm_anomalies.shape

(440880, 57)

In [30]:
dfTotal['Anomalia #1'].unique()

array([0.])